@font-face {
    font-family: "calcFont";
    src: url(./fonts/DIGITALDREAMFATNARROW.ttf);
}

body {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: #97b6e8;
}

.calculator {
    
    flex-direction: column;
    width: 300px;
    border: 10px solid black;
    border-radius: 15px;
    

}
/*SCREEN*/
p {
    font-family: 'calcFont';
    font-size: 30px;
    
}


.screen {
    min-height: 70px;
    background-color: #97adad;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.screen p{
    overflow-wrap: anywhere;
    resize: vertical;
    
    
}


.onscreen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e3dfde;
    width: 250px;
    min-height: 70px;
    overflow-wrap: break-word;
    border-radius: 5px;
    border: 3px solid black
}

/*Buttons*/
.buttons,
.numbers,
.operators {
    display: flex;
    gap: 10px;
    
}

.buttons-container {
    display: inline-flex;
}
.numbers-section {
    flex-direction: column;
    align-items: center;
}
.buttons {
    flex-direction: column;
    background-color: #97adad;
    padding: 15px;
    justify-content: center;
}
.numbers {
    flex-wrap: wrap;
   
}

.operators {
    flex-direction: column;
}
.operators button{
  background-color: orange;
}
[id="="] {
    background-color: #4ab545;
}
.calculator button:active {
    transform: scale(0.95);
    
    border-radius: 5px;
    
}
.calculator button:hover {
    cursor: pointer;
}

button {
    width: 50px;
    height: 50px;
    font-family: 'roboto';
    font-size: large;
    border-radius: 5px;
    border-color: black;
}

/*Delete and clear buttons*/

.clear {
    display: flex;
    flex: 1 1 auto;
    width: auto;
    
    gap: 5px
}

.clear button{
    flex: 1 1 auto;
    
}

#delete {
    display: inline-block;
    font-size: 18px;
    flex: 0.4 1 auto
}